.backdropStyle  {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f4ffff;
    padding: 50px;

}

.cardStyle  {
    background-color: #8a9c8a;
    border-radius: 5px;
    max-width: 500px;
    min-height: 300px;
    padding: 30px;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.01s;
    width: 24%;
    color: #8a9c8a;
    margin-top: 20px;
    margin-left: 20px;
}

.card:hover {
    box-shadow: 0 12px 20 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
.image
{
    width : 98%;
    padding: 10px;

}
